BACKEND_PORT=5000
FRONTEND_PORT=3000
Mongo_URL=mongodb+srv://USER:PASS@cluster.mongodb.net/?appName=AppName
JWT_SECRET=<generate-with-crypto.randomBytes-64>
Admin_Url=your-secret-admin-path
RESEND_API=re_XXXX
RESEND_MAIL_DOMAIN=your-domain.com
ADMIN_MAIL=your@email.com
CUSTOM_DOMAIN=https://your-production-domain.com
CLOUDINARY_API_KEY=your-key
CLOUDINARY_API_SECRET=your-secret
CLOUDINARY_CLOUD_NAME=your-cloud
GITHUB_TOKEN=ghp_XXXX
